<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style.css">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <script src="/static/script.js"></script>
    <title>PrivaSee Policy Viewer</title>


  </head>

  <body>
    <nav class="navbar fixed-top navbar-light bg-faded" style="background-color: #ecf0f1">
      <div class="navbar-header">
        <a class="navbar-brand btn disabled" href="#">PrivaSee Policy Viewer</a>
      </div>
      <h2 class="mx-auto" style="text-align:center;">Google.com</h2>
      </div>
    </nav>
      <div class="container-fluid" style="margin-top:62px;">
      <div class="row">
          <div class="col-3 p-3 position-fixed" id="sticky-sidebar">
            <div class="card p-3" style="height: 100px;">
              <div>
              <button class="btn" style="background-color:#DCEDFC;"> &nbsp; </button> <small>Contains top 10 keyword</small><br>
              <button class="btn" style="background-color:#FFF4CF;"> &nbsp; </button> <small>May be different from category</small>
              </div>
            </div>
            <div class="card mt-2" style="height: 320px;">
              <div class="card-header">Policy Categories</div>
              <div class="scrollable" style="overflow-y: auto; max-height: 280px;">
              <div class="card-body">
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center active"
                    data-target=".first-party-content">
                    First Party Collection/Use
                    <span class="badge badge-primary badge-pill">14</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
                    data-target=".third-party-content">
                    Third Party Sharing/Collection
                    <span class="badge badge-primary badge-pill">14</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    User Choice/Control
                    <span class="badge badge-primary badge-pill">14</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    User Access, Edit and Deletion
                    <span class="badge badge-primary badge-pill">14</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Data Retention
                    <span class="badge badge-primary badge-pill">14</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Data Security
                    <span class="badge badge-primary badge-pill">14</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Policy Change
                    <span class="badge badge-primary badge-pill">14</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Do Not Track
                    <span class="badge badge-primary badge-pill">14</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    International and Specific Audiences
                    <span class="badge badge-primary badge-pill">14</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Other
                    <span class="badge badge-primary badge-pill">14</span>
                  </a>
                </div>
              </div>
            </div>
            </div>
            <div class="card mt-2" style="height: 210px;">
              <div class="card-header">Category Keywords</div>
              <div class="scrollable" style="overflow-y: auto; max-height: 170px;">
              <div class="card-body">
                <div class="keytab-contents">
                  <div class="keytab active first-party-content">
                    <ul>
                      <li> personally identifiable information </li>
                      <li> personal information </li>
                      <li> personally identifiable </li>
                      <li> identifiable information </li>
                      <li> information </li>
                      <li> collect </li>
                      <li> credit card information </li>
                      <li> use personal information </li>
                      <li> personally identifying information </li>
                      <li> provide personal information </li>
                    </ul>
                  </div>
                  <div class="keytab third-party-content">
                    <ul>
                      <li> personally identifiable information </li>
                      <li> share personal information </li>
                      <li> disclose personal information </li>
                      <li> party service providers </li>
                      <li> protect rights property </li>
                      <li> good faith belief </li>
                      <li> service providers </li>
                      <li> share information </li>
                      <li> legal process </li>
                      <li> good faith belief </li>
                    </ul>
                  </div>
                </div>
              </div>
              </div>
            </div>


          </div>
          <div class="col-9 offset-3 p-3" id="main">
            <div class="tab-contents">
              <div class="tab active first-party-content">
                <div class="p-3">
                <h4>
                  First Party Collection/Use <br>
                  <small class="text-muted">How and why a service provider collects user information.</small>
                </h4>
                </div>
                <ul>
              	<li>Our automated systems analyze your content (including emails) to provide you personally relevant product features, such as customized search
                    results, tailored advertising, and spam and malware detection.
                </li>
              	<li>Local storage  We may collect and store information (including personal information) locally on your device using mechanisms such as browser web
                    storage (including HTML 5) and application data caches.
                </li>
              	<li class="bg-similar">Log information  When you use our services or view content provided by Google, we automatically collect and store certain information in server
                   logs. This includes:
                      <br>  •   details of how you used our service, such as your search queries.
                      <br>  •   telephony log information like your phone number, calling-party number, forwarding numbers, time and date of calls, duration
                            of calls, SMS routing information and types of calls.
                      <br>  •   Internet protocol address.
                      <br>  •   device event information such as crashes, system activity, hardware settings, browser type, browser language, the date and
                            time of your request and referral URL.
                      <br>  •   cookies that may uniquely identify your browser or your Google Account.

                </li>
              	<li>Location information  When you use Google services, we may collect and process information about your actual location. We use various
                   technologies to determine location, including IP address, GPS, and other sensors that may, for example, provide Google with information on nearby
                   devices, Wi-Fi access points and cell towers.

                </li>
              	<li>Our automated systems analyze your content (including emails) to provide you personally relevant product features, such as customized search
                    results, tailored advertising, and spam and malware detection.

                </li>
              	<li>Cookies and similar technologies  We and our partners use various technologies to collect and store information when you visit a Google service,
                    and this may include using cookies or similar technologies to identify your browser or device. We also use these technologies to collect and store
                    information when you interact with services we offer to our partners, such as advertising services or Google features that may appear on other sites.
                    Our Google Analytics product helps businesses and site owners analyze the traffic to their websites and apps. When used in conjunction with our
                    advertising services, such as those using the DoubleClick cookie, Google Analytics information is linked, by the Google Analytics customer or by
                    Google, using Google technology, with information about visits to multiple sites.

                </li>
              	<li class="bg-similar">We use information collected from cookies and other technologies, like pixel tags, to improve your user experience and the overall quality of our
                    services. One of the products we use to do this on our own services is Google Analytics. For example, by saving your language preferences, we'll be
                    able to have our services appear in the language you prefer. When showing you tailored ads, we will not associate an identifier from cookies or
                    similar technologies with sensitive categories, such as those based on race, religion, sexual orientation or health.

                </li>
              	<li>Device information  We collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and
                   mobile network information including phone number). Google may associate your device identifiers or phone number with your Google Account.

                </li>
              	<li>When you contact Google, we keep a record of your communication to help solve any issues you might be facing. We may use your email address to
                   inform you about our services, such as letting you know about upcoming changes or improvements.

                </li>
              	<li>Information we get from your use of our services. We collect information about the services that you use and how you use them, like when you watch
                   a video on YouTube, visit a website that uses our advertising services, or view and interact with our ads and content. This information includes:

                </li>
              	<li class="bg-different">There are many different ways you can use our services - to search for and share information, to communicate with other people or to create new
                   content. When you share information with us, for example by creating a Google Account, we can make those services even better - to show you more
                   relevant search results and ads, to help you connect with people or to make sharing with others quicker and easier. As you use our services, we want
                   you to be clear how we're using information and the ways in which you can protect your privacy.

                </li>
              	<li>How we use information we collect  We use the information we collect from all of our services to provide, maintain, protect and improve them, to
                   develop new ones, and to protect Google and our users. We also use this information to offer you tailored content - like giving you more relevant
                   search results and ads.

                </li>
              	<li>Unique application numbers  Certain services include a unique application number. This number and information about your installation (for example,
                   the operating system type and application version number) may be sent to Google when you install or uninstall that service or when that service
                   periodically contacts our servers, such as for automatic updates.

                </li>
              	<li>Information we collect  We collect information to provide better services to all of our users - from figuring out basic stuff like which language you
                   speak, to more complex things like which ads you'll find most useful, the people who matter most to you online, or which YouTube videos you might
                   like.

                </li>
              	<li>We collect information in the following ways:  Information you give us. For example, many of our services require you to sign up for a Google
                   Account. When you do, we'll ask for personal information, like your name, email address, telephone number or credit card to store with your account.
                   If you want to take full advantage of the sharing features we offer, we might also ask you to create a publicly visible Google Profile, which may include
                   your name and photo.

                </li>
              	<li class="bg-different">We may combine personal information from one service with information, including personal information, from other Google services - for example
                    to make it easier to share things with people you know. We will not combine DoubleClick cookie information with personally identifiable information
                    unless we have your opt-in consent.
                </li>
              </ul>
              </div>
              <div class="tab third-party-content">
                <div class="p-3">
                <h4>
                  Third Party Sharing/Collection <br>
                  <small class="text-muted">How user information may be shared with or collected by third parties.</small>
                </h4>
                </div>
                <ul>
              	<li></li>
              	<li>For legal reasons  We will share personal information with companies, organizations or individuals outside of Google if we have a good-faith belief
                    that access, use, preservation or disclosure of the information is reasonably necessary to:
                        •   meet any applicable law, regulation, legal process or enforceable governmental request.
                        •   enforce applicable Terms of Service, including investigation of potential violations.
                        •   detect, prevent, or otherwise address fraud, security or technical issues.
                        •   protect against harm to the rights, property or safety of Google, our users or the public as required or permitted by law.

                </li>
              	<li>We may share aggregated, non-personally identifiable information publicly and with our partners - like publishers, advertisers or connected sites. For
                    example, we may share information publicly to show trends about the general use of our services.

                </li>
              	<li>With your consent  We will share personal information with companies, organizations or individuals outside of Google when we have your consent to
                     do so. We require opt-in consent for the sharing of any sensitive personal information.

                </li>
              	<li>Information we share  We do not share personal information with companies, organizations and individuals outside of Google unless one of the
                    following circumstances applies:

                </li>
              	<li>If Google is involved in a merger, acquisition or asset sale, we will continue to ensure the confidentiality of any personal information and give
                    affected users notice before personal information is transferred or becomes subject to a different privacy policy.

                </li>
              	<li class="bg-different">If you have a Google Account, we may display your Profile name, Profile photo, and actions you take on Google or on third-party applications \
                    connected to your Google Account (such as +1's, reviews you write and comments you post) in our services, including displaying in ads and other
                    commercial contexts. We will respect the choices you make to limit sharing or visibility settings in your Google Account.

                </li>
              	<li class="bg-different">Information you share  Many of our services let you share information with others. Remember that when you share information publicly, it may be
                    indexable by search engines, including Google. Our services provide you with different options on sharing and removing your content.

                </li>
              	<li class="bg-different">We may use the name you provide for your Google Profile across all of the services we offer that require a Google Account. In addition, we may
                    replace past names associated with your Google Account so that you are represented consistently across all our services. If other users already
                    have your email, or other information that identifies you, we may show them your publicly visible Google Profile information, such as your name and
                    photo.

                </li>
              	<li class="bg-similar">For external processing  We provide personal information to our affiliates or other trusted businesses or persons to process it for us, based on our
                    instructions and in compliance with our Privacy Policy and any other appropriate confidentiality and security measures.

                </li>
              	<li class="bg-different">With domain administrators  If your Google Account is managed for you by a domain administrator (for example, for Google Apps users) then your
                    domain administrator and resellers who provide user support to your organization will have access to your Google Account information (including
                    your email and other data). Your domain administrator may be able to:
                        •   view statistics regarding your account, like statistics regarding applications you install.
                        •   change your account password.
                        •   suspend or terminate your account access.
                        •   access or retain information stored as part of your account.
                        •   receive your account information in order to satisfy applicable law, regulation, legal process or enforceable governmental request.
                        •   restrict your ability to delete or edit information or privacy settings.  Please refer to your domain administrator's privacy policy for more
                            information.</li>
              </ul>
              </div>
            </div>
          </div>
      </div>
  </body>
</html>
